# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric
src/main/generated/.cache
run/
run-server/
run-datagen/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# kotlin
.kotlin

# project
docs/dist/
docs/.cache/
docs/node_modules/
docs/src/pages/.obsidian
docs/src/pages/.vault-nickname

/fabric/src/generated/resources/cobblemon-common.accesswidener
/.ignored/
common/.fabric
/.architectury-transformer/

run
run-datagen
run-server
/*/src/generated/
