# gradle
.gradle/
build/
out/
classes/

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# macos
*.DS_Store

# fabric
src/main/generated/.cache
run/
run-server/
run-datagen/

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# kotlin
.kotlin

# docs
docs/.cache/
docs/.wrangler/
docs/dist/
docs/node_modules/
docs/src/pages/.obsidian
docs/src/pages/.vault-nickname

# project specific
/.ignored/
/.architectury-transformer/

/common/src/generated/.cache/

/fabric/src/generated/
/fabric/src/main/resources/rad_gyms.accesswidener

/neoforge/src/generated/
/neoforge/src/main/resources/rad_gyms.accesswidener
