#file: noinspection SpellCheckingInspection
name: Build and publish project artifacts on platforms
on:
  release:
    types:
      - published
  workflow_dispatch:

env:
  cobblemon: 1.7.3

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    strategy:
      matrix:
        # Use these Java versions
        java: [
          21,    # Current Java LTS
        ]
    outputs:
      version: ${{ steps.version.outputs.MOD_VERSION }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4
      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'microsoft'
      - name: make gradle wrapper executable
        run: chmod +x ./gradlew
      - name: Restore gradle.properties
        env:
          GRADLE_PROPERTIES: ${{ secrets.GRADLE_PROPERTIES }}
        shell: bash
        run: |
          mkdir -p ~/.gradle/
          echo "GRADLE_USER_HOME=${HOME}/.gradle" >> $GITHUB_ENV
          echo "${GRADLE_PROPERTIES}" > ~/.gradle/gradle.properties
      - name: build
        run: ./gradlew buildMod
      - name: capture build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/
      - name: Save version output
        id: version
        run: echo "MOD_VERSION=$(gradle currentVersion -q -Prelease.quiet)" >> "$GITHUB_OUTPUT"
  publish:
    needs: build
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        loader: [
          fabric,
          neoforge,
        ]
    steps:
      - name: capture build artifacts
        uses: actions/download-artifact@v4
        with:
          name: Artifacts
          path: build/libs/
      - name: Publish Fabric (CurseForge/GitHub)
        uses: Kira-NT/mc-publish@v3.3
        with:
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          name: "Rad Gyms ${{ needs.build.outputs.version }} for Cobblemon ${{ env.cobblemon }}"
          version: "${{ env.cobblemon }}_${{ needs.build.outputs.version }}"
          version-type: release

          files: |
            build/libs/rad-gyms-${{ matrix.loader }}-${{ needs.build.outputs.version }}.jar
            build/libs/rad-gyms-${{ matrix.loader }}-${{ needs.build.outputs.version }}-sources.jar 

          loaders: | 
            ${{ matrix.loader }}
          game-versions: 1.21.1
          java: 21
