name: Build and publish project artifacts on platforms
on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+\+[0-9]+.[0-9]+.[0-9]+-[a-z]+"

jobs:
  build:
    permissions:
      contents: write
    strategy:
      matrix:
        # Use these Java versions
        java: [
          21,    # Current Java LTS
        ]
    runs-on: ubuntu-22.04
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4
      - name: setup jdk ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'microsoft'
      - name: make gradle wrapper executable
        run: chmod +x ./gradlew
      - name: Restore gradle.properties
        env:
          GRADLE_PROPERTIES: ${{ secrets.GRADLE_PROPERTIES }}
        shell: bash
        run: |
          mkdir -p ~/.gradle/
          echo "GRADLE_USER_HOME=${HOME}/.gradle" >> $GITHUB_ENV
          echo "${GRADLE_PROPERTIES}" > ~/.gradle/gradle.properties
      - name: build
        run: ./gradlew build
      - name: capture build artifacts
        if: ${{ matrix.java == '21' }}
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/
      - name: Publish (CurseForge/GitHub)
        uses: Kira-NT/mc-publish@v3.3
        with:
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          name: Rad Gyms 0.3.0-stable for Cobblemon 1.7.0+
          version: 1.7.x+0.3.0-stable
          version-type: release

          loaders: fabric
          game-versions: 1.21.1
          java: 21

          dependencies: |
            fabric-api@0.116.6+1.21.1(required){curseforge:306612}{modrinth:P7dR8mSH}
            architectury-api(required){curseforge:419699}{modrinth:lhGA9TYQ}
            cobblemon@1.7.0(required){curseforge:687131}{modrinth:MdwFAVRL}
            radical-cobblemon-trainers-api@0.14.1-beta(required){curseforge:1152792}{modrinth:CBfM2yw7}
            admiral@0.4.10+1.21.1+fabric(embedded)
